dbconnection\ methods\ to\ write.txt
data/combined-lexicon.yml.bak
notes
sql-efficiency-notes.txt
bin/
config/
shared/
public/javascript/axios.min.js
public/javascript/vue.js
public/javascript/vue.min.js
