<h1>Citations</h1>
<div class="gradient-ltr"></div>

<h4>The data used in this project came from:</h4>
<ul>
  <li>
    <a href="http://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html">
    http://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html</a>
  </li>
  <li>
    <a href="http://www.cs.cornell.edu/people/pabo/movie-review-data">
    http://www.cs.cornell.edu/people/pabo/movie-review-data</a>
  </li>
</ul>

<h4>Citations:</h4>
<ul>
  <li>
    Minqing Hu and Bing Liu. "Mining and Summarizing Customer Reviews."
    Proceedings of the ACM SIGKDD International Conference on Knowledge
    Discovery and Data Mining (KDD-2004), Aug 22-25, 2004, Seattle, Washington, USA
  </li>
  <li>
    Bo Pang and Lillian Lee, "Seeing stars: Exploiting class relationships for sentiment categorization
    with respect to rating scales.", Proceedings of the ACL, 2005.
  </li>
</ul>
