<br>
<br>
<br>

<section class="analysis-result detailed-result">
  <ul>
    <% @popup_results.each do |result| %>
      <%= result %>
    <% end %>
  </ul>
  <span class="result">

  </span>

  <form method="get" action="<%= url '/' %>">
    <button type="submit" class="goback">Back</button>
  </form>

</section>
