<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Text Analyzer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= url 'stylesheets/main.css' %>">
</head>
<body>
  <section class="extra-grid">
    <%= yield %>
  </section>
  <div class="go-back">
    <form method="get" action="<%= url '/' %>">
      <input type="submit" class="goback" value="Back">
    </form>
  </div>
</body>
</html>
