<div class="main">
  <h1>Naive Bayes Text Analyzer</h1>
  <p>
    Your text input is processed against a lexicon containing positive and
    negative opinion words and <i>Rotten Tomatoes</i> movie reviews.
  </p>
  <p>
    The Text Analyzer will classify your input text as either
    positive or negative.
  </p>

  <form class="inline" method="post" action="/result">
    <label for="text_input"><h3>Enter text to analyze:</h3></label>
    <div>
      <textarea name="text_to_analyze" name="text_input"
      rows="11" cols="75"><%= @previous_input %></textarea>
    </div>
      <input type="submit" value="Analyze">
    </form>
    <form class="inline" action="/random" method="post">
      <input type="submit" value="Try Random Phrase">
    </form>
</div>

<br><br>
The data used in this project came from:
<ul>
  <li><a href="http://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html">
    http://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html
  </a></li>
  <li><a href="http://www.cs.cornell.edu/people/pabo/movie-review-data">
    http://www.cs.cornell.edu/people/pabo/movie-review-data
  </a></li>
</ul>
Citations:
<ul>
  <li>Minqing Hu and Bing Liu. "Mining and Summarizing Customer Reviews."
    Proceedings of the ACM SIGKDD International Conference on Knowledge
    Discovery and Data Mining (KDD-2004), Aug 22-25, 2004, Seattle, Washington, USA
  </li>
  <li>Bo Pang and Lillian Lee, "Seeing stars: Exploiting class relationships for sentiment categorization
    with respect to rating scales.", Proceedings of the ACL, 2005.
  </li>
</ul>

<footer>
  By Kurt Meyerhofer for
  <a href="https://launchschool.com">Launch School</a>
</footer>
