<section class="grid-container">
  <header>
    <h1>Text Analyzer</h1>
    <div class="gradient-ltr"></div>
  </header>

  <div class="input">
    <label for="text_to_analyze">
      Input text to analyze
    </label>
    <form method="post" action="<%= url '/result' %>">
      <textarea name="text_to_analyze" id="text_to_analyze"
                rows="3" cols="35" autofocus maxlength="750"
                placeholder="Enter text here"></textarea>
      <div class="radio-button-background">
        Separate analysis by:
        <div class="radio-buttons">
          <input type="radio" name="analysis_type" value="punctuation_delimiter"
                 id="punctuation">
          <label for="punctuation">Punctuation</label>
          <input type="radio" name="analysis_type" value="new_line"
                 id="new_line">
          <label for="new_line">New line</label>
          <input type="radio" name="analysis_type" value="all_text"
          id="text" checked>
          <label for="text">Neither</label>
        </div>
      </div>
      <input type="submit" value="Analyze" class="analyze">
    </form>

    <form id="random" action="<%= url '/random' %>" method="get">
      <input class="random" type="submit" value="Try a Random Phrase" form="random">
    </form>
    <div class="gradient-rtl"></div>
  </div>

  <% if session[:input].count >= 1 %>
  <div class="previous-searches">
      <h2>Your most recent entries</h2>

    <ul class="previous-search-scroll">
      <div class="recent-entries">
        <% session[:input].each do |input| %>
          <%= input %>
        <% end %>
      </div>
    </ul>
    <form method="post" action="<%= url '/clear' %>" id="clear">
      <input type="submit" class="clear" value="Clear Entries" for="clear">
    </form>
    <div class="gradient-ltr"></div>
  </div>
  <% end %>

  <div class="extra-info">
    <div class="gradient-rtl-large-screen"></div>
    <nav>
      <a href="/learn-more">Learn More</a>
      <a href="/citations">Citations</a>
      <a href="privacy-policy">Privacy Policy</a>
    </nav>
  </div>

  <footer>
    By Kurt Meyerhofer for
    <a href="https://launchschool.com">Launch School</a>
  </footer>
</section>
