<header>
  <h1>Learn More</h1>
  <div class="gradient-ltr"></div>
</header>

<main class="extra-main">
  <h2>Naive Bayes Classifier</h2>
  <p>
    Your text input is processed against a local lexicon containing positive
    and negative opinion words and <em>Rotten Tomatoes</em> movie reviews.
    Based on how many times each entered word is found in each category is what
    determines its liklihood of it being positive or negative.
  </p>
  <p>
    To learn more about how this program works, you can read more on Wikipedia
    about <a href="https://en.wikipedia.org/wiki/Naive_Bayes_classifier"
    >Naive Bayes Classifiers</a>.
  </p>

  <h2>Technology used for this project</h2>
  <p>
    This project is written in Ruby using the Sinatra framework and utilizing
    a PostgreSQL database for analysis.
  </p>
  <p>
    The responsive web design is created with CSS Grid.
  </p>
  <p>
    The Front End JavaScript utilizes Vue.js for the AJAX API calls and API response processing.
  </p>
</main>
