<p>
  Your text input is processed against a local lexicon containing positive
  and negative opinion words and <em>Rotten Tomatoes</em> movie reviews.
</p>
<p>
  The Text Analyzer will classify your input text as either
  positive or negative.
</p>
