<header>
  <h1>Privacy Policy</h1>
  <div class="gradient-ltr"></div>
</header>

<main class="extra-main">
  <h2>Data retention information</h2>
  <p>
    Your text entered for analysis is saved for project improvement.
    This data will not be sold or shared to anyone.
  </p>

  <p>
    The data stored includes your text to analyze, the results it produces,
    and a timestamp of submission.
  </p>
</main>
