<div class='main'>
  Your text:
  <br><br>
  <span class="usertext"><%= @cleaned_up_text %></span>
  <br><br>
  has been analyzed and found to be:
  <br><br>
  <span class="result">
    <span class="<%= @cssresult %>"><%= @result.capitalize %>
    </span>
  </span>
  <br>
  <br>
  <br>
  <form class="inline" action="/random" method="post">
    <a href="/">Go back</a>
    <input type="submit" value="Try a Random Phrase Again">
  </form>
</div>
