<div class='main'>
  <span class="usertext"><%= @cleaned_up_text %></span>
  <br><br>
  has been analyzed and found to have more
  <br><br>
  <span class="result">
    <span class="<%= @cssresult %>"><%= @result.capitalize %> Sentiment
    </span>
  </span>
  <br>
  <br>
  <br>
  <a class="goback" href="/">Back</a>
  <span class="source">
    <%= 'Text source: ' + @source unless @source.nil? %>
  </span>
</div>
