Your text:
<br><br>
<span class="usertext"><%= @cleaned_up_text %></span>
<br><br>
has been analyzed and found to be:
<br><br>
<span class="result">
  <span class="<%= @cssresult %>"><%= @result.capitalize %>
  </span>
</span>
<br>
<br>
<a href="/">Analyze again</a>
