/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* End of CSS Reset */

body {
  background-color: #9df;
}

footer {
  text-align: center;
  padding: 10px;
}

section {
  border: 6px solid white;
}

.container {
  min-height: 500px;
  overflow: auto;
  margin-bottom: 15px;
}

.left-side {
  position: absolute;
  left: 20px;
  width: 50%;
}

.right-side {
  position: absolute;
  text-align: center;
  right: 13px;
  width: 40%;
  height: 500px;
  overflow-wrap: break-word;
}

.right-side-scroll {
  height: 440px;
  overflow: auto;
  text-align: left;
}

.clear {
  position: absolute;
  top: 9px;
  right: 9px;
}

.bottom-data {
  padding: 10px;
}

.analysis-result {
  padding: 10px;
  margin-bottom: 20px;
}

.analysis-result p {
  margin: 15px 0 15px 0;
}

.analysis-result form {
  margin-top: 15px;
}

.random {
  position: relative;
  bottom: 30px;
  left: 218px;
}

.flash-message {
  padding: 15px;
  background-color: #ca0000;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.usertext {
  background-color: #0bf;
  border-radius: 4px;
  font-size: 150%;
  overflow-wrap: break-word;
  margin-bottom: 20px;
}

.result {
  padding: 5px 2px;
  font-weight: bold;
  font-size: 150%;
  color: #fff;
}

.negative {
  background-color: #b30000;
  border-radius: 3px;
}

.positive {
  background-color: #00b300;
  border-radius: 3px;
}

.recent-entries {
  color: #fff;
}

.source {
  margin: 15px 0 0 0;
}
