body {
  background-color: #9df;
}

footer {
  text-align: center;
  padding: 10px;
}

.container {
  border: 6px solid white;
  min-height: 500px;
  overflow: auto;
}

.leftside {
  position: absolute;
  left: 20px;
  width: 50%;
}

.rightside {
  position: absolute;
  text-align: center;
  right: 13px;
  width: 40%;
  height: 500px;
  overflow-wrap: break-word;
}

.rightsidescroll {
  height: 440px;
  overflow: auto;
  text-align: left;
}

.clear {
  position: absolute;
  top: 9px;
  right: 9px;
}

.white-border {
  border: 6px solid white;
  padding: 10px;
}

.random {
  position: relative;
  bottom: 30px;
  left: 218px;
}

.message {
  padding: 15px;
  background-color: #ca0000;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.usertext {
  background-color: #0bf;
  border-radius: 4px;
  font-size: 150%;
  overflow-wrap: break-word;
}

.result {
  padding: 5px 2px;
  font-weight: bold;
  font-size: 150%;
  color: #fff;
}

.negative {
  background-color: #b30000;
  border-radius: 6px;
  padding: 5px;
}

.positive {
  background-color: #00b300;
  border-radius: 6px;
  padding: 5px;
}

.recent-entries {
  color: #fff;
  padding: 5px 2px;
}
