@import url("reset.css");

:root {
  --background-primary: #efefef;
  --flash-background: #ca0000;
  --text-primary: #4a4949;
  --white-text: #fff;
  --gradient-separator: #ff3b3f;
  --sub-heading-text: #4d4c4c;
  --sub-heading-background: #b8dee7;
  --text-input-background: #ff3b49;
  --result-positive: #5bcc63;
  --result-negative: #ff6571;
  --border: #559bab;
}

html {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--background-primary);
  min-width: 350px;
  padding: 10px;
}

/* Main page grid */
.grid-container {
  display: grid;
  grid-row-gap: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto 50px;
  grid-template-areas:
    "header"
    "input"
    "previous-searches"
    "extra-info"
    "footer"
}

h1 {
  font-size: 2.75rem;
  text-align: center;
  color: var(--text-primary);
  font-weight: bold;
}

.flash-message {
  padding: 15px;
  background-color: var(--flash-background);
  color: var(--flash-text);
  font-weight: bold;
  text-align: center;
  display: block;
  cursor: pointer;
}

.flash-checkbox {
  display: none;
}

.flash-checkbox:checked + .flash-message {
  display: none;
}

header {
  grid-area: header;
}

.gradient-ltr {
  margin: 20px auto 0 auto;
  background: linear-gradient(to right, var(--gradient-separator) 15%, transparent);
  height: 4px;
  width: 100%;
}

.gradient-rtl {
  margin: 20px auto 0 auto;
  background: linear-gradient(to left, var(--gradient-separator) 15%, transparent);
  height: 4px;
  width: 100%;
}

/* Input text for analysis area */
.input {
  grid-area: input;
}

h2,
.input label:first-child {
  color: var(--sub-heading-text);
  background: var(--sub-heading-background);
  font-size: 1.25rem;
  padding: 5px;
  text-align: center;
  display: block;
}

textarea {
  margin: 20px 0;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  height: 108px;
  padding: 15px;
  border: 3px solid var(--sub-heading-background);
  font-size: 1rem;
  color: var(--sub-heading-text);
}

.radio-buttons {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.radio-buttons label {
  margin-right: 18px;
}

input[type="radio"],
.radio-buttons label {
  cursor: pointer;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 2px solid var(--sub-heading-text);
  width: 18px;
  height: 18px;
  margin-right: 8px;
  flex-shrink: 0;
}

input[type="radio"]:checked {
  border: 9px solid var(--sub-heading-text);
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 45px;
  background: var(--text-input-background);
  font-size: 1rem;
  box-sizing: border-box;
  color: var(--background-primary);
  cursor: pointer;
  border: none;
}

input[type="submit"]:disabled,
input[type="submit"]:disabled:hover {
  background: grey;
}

input[type="submit"]:hover {
  background: red;
}

.radio-button-background {
  padding: 5px;
  background: var(--sub-heading-background);
  color: var(--sub-heading-text);
}

.analyze {
  margin: 20px auto 0 auto;
  height: 55px;
  width: 150px;
  display: block;
}

.random {
  margin: 20px auto;
  display: block;
}

/* Previous search area */
.previous-searches {
  margin: 0;
  padding: 0;
  grid-area: previous-searches;
}

.previous-search-scroll {
  max-height: 350px;
  overflow: auto;
  line-height: 1.5;
  margin: 20px 0;
  border: 3px solid var(--sub-heading-background);
  box-sizing: border-box;
  padding: 5px;
  background: var(--white-text);
}

.previous-search-scroll li {
  margin-bottom: 20px;
}

.previous-search-scroll li:last-child {
  margin: 0;
}

.positive,
.negative {
  color: var(--background-primary);
  padding: 3px;
}

.positive {
  background: var(--result-positive);
}

.negative {
  background: var(--result-negative);
}

/* Bottom links & hover */
.extra-info {
  padding: 0;
  grid-area: extra-info;
}

.extra-info nav {
  margin-top: -25px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.extra-info a {
  height: 25px;
  color: var(--text-primary);
  background-color: var(--sub-heading-background);
  margin: 15px 0;
  padding: 15px;
  flex-shrink: 0;
  position: relative;
}

.extra-info a:hover::after,
.extra-info a:focus::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--border);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* Footer */
footer {
  grid-area: footer;
  margin: 15px 0;
  text-align: center;
  color: var(--sub-heading-text);
}

footer a {
  color: var(--text-primary);
}

/* Non-separated analysis results page */
.analysis-result {
  display: grid;
  grid-row-gap: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "header"
    "results"
    "go-back"
    "source"
}

.results {
  grid-area: results;
  line-height: 1.5;
  text-align: center;
}

.usertext::before {
  content: '" ';
}

.usertext::after {
  content: ' "';
}

.usertext {
  color: var(--sub-heading-text);
  background: var(--white-text);
  border: 3px solid var(--sub-heading-background);
  display: block;
  padding: 15px;
}

.results p {
  background: var(--sub-heading-background);
  color: var(--sub-heading-text);
  margin: 15px 0;
  padding: 5px;
  display: inline-block;
  text-align: center;
}

.result {
  font-size: 1.5rem;
}

.go-back {
  grid-area: go-back;
}

.source {
  grid-area: source;
  line-height: 1.2;
  background: var(--sub-heading-background);
  color: var(--sub-heading-text);
  padding: 5px;
}

/* Separated analysis results page */
.detailed-result {
  display: grid;
  grid-row-gap: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "results"
    "go-back"
}

.detailed-results {
  grid-area: results;
}

.detailed-result ul {
  margin-top: 15px;
	word-break: break-all;
  background: var(--white-text);
  border: 3px solid var(--sub-heading-background);
  padding: 15px;
}

.detailed-result li {
	color: var(--white-text);
	padding: 5px;
	margin: 5px;
  display: inline-block;
}

/* Results popup */
div.popup {
	display: none;
	margin: 0;
	padding: 0;
}

.detailed-result li:hover + .popup,
.detailed-result li:focus + .popup {
	position: absolute;
	display: inline;
  bottom: 100%;
  margin-bottom: 4px;
	left: 0px;
	font-size: 20px;
	padding: 8px;
  background: var(--background-primary);
  color: var(--sub-heading-text);
}

.popup-positive,
.popup-negative {
  border: solid var(--sub-heading-text);
}

.popup span {
	padding: 8px;
	display: inline-block;
	margin: 0;
}

.popup-positive {
	background: var(--result-positive);
	border-width: 2px 1px 2px 2px;
}

.popup-negative {
	background: var(--result-negative);
	border-width: 2px 2px 2px 1px;
}

.relative-parent {
	position: relative;
	display: block;
}

/* Triangle in Hover */
.popup::after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: -0px;
	width: 0;
	height: 0;
	border-right: 8px solid transparent;
	border-top: 8px solid var(--background-primary);
	border-left: 8px solid transparent;
}

em {
  font-style: italic;
}

.extra-grid {
  display: grid;
  grid-row-gap: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header"
    "extra-main"
}

.extra-main ul {
  list-style: square;
  margin: 20px 0 20px 25px;
}

.extra-main li a {
  margin: 10px 0;
  color: var(--sub-heading-text);
}

/* .extra-main a {
  color: var(--sub-heading-text);
} */

.extra-main p {
  margin: 15px 5px;
}

/* Tablets */
@media screen and (min-width: 768px) {
  body {
    padding: 25px;
  }

  textarea {
    height: 155px;
  }
}

/* Large screens */
@media screen and (min-width: 992px) {
  .grid-container {
    display: grid;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    grid-template-columns: 1fr fit-content(35%);
    grid-template-rows: auto auto auto 50px;
    grid-template-areas:
      "header header"
      "input previous-searches"
      "extra-info extra-info"
      "footer footer"
  }

  .previous-searches {
    min-width: 0;
  }

  .previous-searches-scroll {
    max-height: 300px;
  }

  .gradient-rtl,
  .gradient-ltr {
    display: none;
  }

  .gradient-ltr{
    display: block;
  }

  .previous-searches .gradient-ltr {
    display: none;
  }

  .gradient-rtl-large-screen {
    margin: -25px auto 0 auto;
    background: linear-gradient(to left, var(--gradient-separator) 15%, transparent);
    height: 4px;
    width: 100%;
    display: block;
  }

  .extra-info nav {
    margin-top: 25px;
  }

  textarea {
    height: 181px;
  }

  .analyze {
    margin: 24px auto 0 auto;
  }
}

/* Documentation code text */
.code {
  font-family: monospace;
  background: var(--text-primary);
  color: var(--background-primary);
  padding: 2px 4px;
  line-height: 1.44;
}
